@model List<Posting>

<h1>Social Media Postings</h1>

<a asp-action="Create" class="btn btn-primary">Neues Posting erstellen</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Text</th>
            <th>Author</th>
            <th>Veröffentlichung</th>
            <th>Last edited</th>
            <th>Likes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var posting in Model)
        {
            <tr>
                <td>@posting.Id</td>
                <td>@posting.Author</td>
                <td>@posting.Text</td>
                <td>@posting.CreatedDate.ToString("dd.MM.yyyy")</td>
                <td>@posting.UpdatedDate?.ToString("dd.MM.yyyy")</td>
                <td>@posting.Likes</td>
                <td>
                    <a asp-action="Like" asp-route-postingId="@posting.Id"
                       class="btn btn-primary btn-sm">Like 👍</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-postingId="@posting.Id"
                       class="btn btn-warning btn-sm">Bearbeiten</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-postingId="@posting.Id"
                       class="btn btn-danger btn-sm">Löschen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
