@model List<Posting>

<h1>Social Media Postings</h1>

<form asp-action="Index" method="get">
    <h5>Sortieren:</h5>
    <input type="text" name="sortByAuthor" value="@Context.Request.Query["sortByAuthor"]" />
    <input type="date" name="sortByPostDate" value="@Context.Request.Query["sortByPostDate"]" />

    <input type="checkbox"
           name="sortByLikes"
           value="true"
           @(Context.Request.Query["sortByLikes"] == "true" ? "checked" : "") />

    <input type="submit" value="Sortieren" class="btn btn-primary" />
</form>

<a asp-action="Create" class="btn btn-primary">Neues Posting erstellen</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Text</th>
            <th>Author</th>
            <th>Veröffentlichung</th>
            <th>Last edited</th>
            <th>Likes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var posting in Model)
        {
            <tr>
                <td>@posting.Id</td>
                <td>@posting.Author</td>
                <td>@posting.Text</td>
                <td>@posting.CreatedDate.ToString("dd.MM.yyyy")</td>
                <td>@posting.UpdatedDate?.ToString("dd.MM.yyyy")</td>
                <td>@posting.Likes</td>
                <td>
                    <a asp-action="Like" asp-route-postingId="@posting.Id" asp-route-sortByAuthor="@Context.Request.Query["sortByAuthor"]"
                       asp-route-sortByPostDate="@Context.Request.Query["sortByPostDate"]"
                       asp-route-sortByLikes="@Context.Request.Query["sortByLikes"]"
                       class="btn btn-primary btn-sm">Like 👍</a>

                </td>
                <td>
                    <a asp-action="Edit" asp-route-postingId="@posting.Id"
                       class="btn btn-warning btn-sm">Bearbeiten</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-postingId="@posting.Id"
                       class="btn btn-danger btn-sm">Löschen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
